* {
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 20px 100px;
}

header {
    
   width: 70%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.hr{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
#left{
    float: left;
  
}
#left{
    
    position: relative;
    
}
 

#left img{
    display: inline-block;
    padding-right:5px ;
    padding-top: 8px;
}

#left h3{
    display: inline-block;
    padding-right:5px ;
    position: absolute;
    top: -25px;
    font-size: 30px;
   }

#left p{
    display: inline-block;
    padding-right:5px ;
    font-size:8px;
   
}



#right{
    float: right;

}
#right {
    width: 30%;
}

header nav ul li{
    display: inline-block;
}

#rss{
    padding-left: 8px;
}

#ss{
width: 70%;
margin-left: auto;
margin-right: auto;


}

#first{
    position: relative;
    
    
}
#first h1{
font-size: 40px;
font-weight: bolder;
position:relative;
top:40px;

}
#first p{
    font-size: 12px;
    position: absolute;
    top: 80px;
    
    }

#second{
    float: right;
  
   
}

#second img,p{
    display: inline-block;
}


#second p{
    font-size: 10px;
    padding-right: 20px;
}

#third{
   padding-top: 60px;
}

#third p{
    
    width: 95%;
    padding-left: 30px;
    font-size: 18px;
}

.fword{
    padding-left: 25px;
}

#imgsec{
    width: 70%;
margin-left: auto;
margin-right: auto;
position: relative;
background-image: url('/img/list-bg.png');

}

#firstcolu form{
    float: left;
    padding-right: 380px;

}
/* 
#seccolu form {
  position: absolute;
  right:20px;
} */

#firstcolu,input,label {
   display: block;
  
   
}



#seccolu input,label{
    display: block;
  

    
}
.through{
    text-decoration: line-through;
}

#lastsec{
     position: relative;
   width: 70%;
   height: 70px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
}

#one{
    float: left;
}
#one img{
    display: inline-block;
    padding-right:5px ;
    padding-top: 8px;
}

#one h3{
    display: inline-block;
    padding-right:5px ;
    position: absolute;
    top: -5px;
    font-size: 20px;
   }

   #one p{
    font-size: 16px;
    position: absolute;
    top: 25px;


   }

   #two{
       float: right;
       padding-top: 30px;
       
       
   }
   #two button{
       background-color: rgb(221, 81, 81);
       width: 150%;
       height:6vh;
 footer
   } 


   footer{
    position: relative;
    padding-top: 20px;
    text-align: center;
    color:gray;
}
footer img {
    position: absolute;
    width: 30px;
    align-items: center;
    top: 10px;

}

   } 
 main
